{{/* pulls the header email module */}}
{{- partial "email_modules/header" . -}}

{{/* defines variable for colors */}}
{{/* Ford Default */}}
{{- $black := .Site.Data.colors.ford.default.black -}}
{{- $fordblue := .Site.Data.colors.ford.default.fordblue -}}
{{- $darkblue := .Site.Data.colors.ford.default.darkblue -}}
{{- $lightblue := .Site.Data.colors.ford.default.lightblue -}}
{{- $green := .Site.Data.colors.ford.default.green -}}
{{- $slatescreen := .Site.Data.colors.ford.default.slatescreen -}}
{{- $white := .Site.Data.colors.ford.default.white -}}

{{/* Ford Primary Brand */}}
{{- $green_pb := .Site.Data.colors.ford.primary_brand.green -}}
{{- $darkblue_pb := .Site.Data.colors.ford.primary_brand.darkblue -}}
{{- $white_pb := .Site.Data.colors.ford.primary_brand.white -}}

{{/* Ford Orange Title */}}
{{- $white_ot := .Site.Data.colors.ford.orange_title.white -}}
{{- $darkblue_ot := .Site.Data.colors.ford.orange_title.darkblue -}}

{{/* Ford Green Title */}}
{{- $white_gt := .Site.Data.colors.ford.green_title.white -}}

{{/* Ford Thailand */}}
{{- $black_th := .Site.Data.colors.ford.th.black_th -}}
{{- $white_th := .Site.Data.colors.ford.th.white_th -}}
{{- $grey_th := .Site.Data.colors.ford.th.grey_th -}}

{{/* Ford India */}}
{{- $white_in := .Site.Data.colors.ford.in.white -}}

{{/* Ford Australia */}}
{{- $darkblue_au := .Site.Data.colors.ford.au.darkblue -}}

{{/* Lincoln */}}
{{- $lincoln_white := .Site.Data.colors.lincoln.white -}}
{{- $lincoln_black := .Site.Data.colors.lincoln.black -}}
{{- $lincoln_grey := .Site.Data.colors.lincoln.grey -}}

{{/* end defining of variables for colors, new colors require a new varible here as well as another if statement below */}}

{{/* defines variable for fonts */}}
{{/* Default */}}
{{- $default := .Site.Data.fonts.default -}}

{{/* Thailand */}}
{{- $th := .Site.Data.fonts.th -}}

{{/* South Korea */}}
{{- $sk := .Site.Data.fonts.sk -}}

{{/* end defining of variables for fonts, new fonts require a new varible here as well as another if statement below */}}

{{/* ranges through the [[modules]] in the template file */}}
{{ range .Params.module }}

{{/* places a comment into the html file to show when a module begins */}}
{{"<!--" | safeHTML}}{{ .path }}{{.color}} {{"starts-->" | safeHTML}}

{{/* for if segment beginning */}}
	{{- if ne .segmentif nil -}}
		{{- if (gt (len .segmentif) 0) -}}
			{{- $nothing := (delimit .segmentif .segmentifdelimit) -}}
			{{ "<%" | safeHTML }}InsertIf expression="${({{ $nothing }})}" %>
		{{- end -}}
	{{- end -}}

{{/* for else if segment beginning */}}
	{{- if ne .segmentelseif nil -}}
		{{- if (gt (len .segmentelseif) 0) -}}
			{{- $nothing := (delimit .segmentelseif .segmentelseifdelimit) -}}
			{{ "<%" | safeHTML }}InsertElse expression="${({{ $nothing }})}" %>
		{{- end -}}
	{{- end -}}

{{/* for else segment beginning */}}
	{{- if ne .segmentelse nil -}}
		{{- if (gt (len .segmentelse) 0) -}}
			{{- $nothing := (delimit .segmentelse .segmentelsedelimit) -}}
			{{ "<%" | safeHTML }}InsertElse %>
		{{- end -}}
	{{- end -}}

{{/* sends the color variables from data folder into the partial for use defined by color='COLOR_GOES_HERE' */}}
	{{- if eq .color "black" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $black)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $black)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $black)}}
		{{- end -}}
	{{- else if eq .color "black_th" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $black_th)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $black_th)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $black_th)}}
		{{- end -}}
	{{- else if eq .color "white" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white)}}
		{{- end -}}
	{{- else if eq .color "white_th" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white_th)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white_th)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white_th)}}
		{{- end -}}
	{{- else if eq .color "grey_th" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $grey_th)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $grey_th)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $grey_th)}}
		{{- end -}}
	{{- else if eq .color "fordblue" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $fordblue)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $fordblue)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $fordblue)}}
		{{- end -}}
	{{- else if eq .color "darkblue" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $darkblue)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $darkblue)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $darkblue)}}
		{{- end -}}
	{{- else if eq .color "lightblue" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $lightblue)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $lightblue)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $lightblue)}}
		{{- end -}}
	{{- else if eq .color "slatescreen" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $slatescreen)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $slatescreen)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $slatescreen)}}
		{{- end -}}
	{{- else if eq .color "green" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $green)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $green)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $green)}}
		{{- end -}}
	{{- else if eq .color "white_ot" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white_ot)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white_ot)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white_ot)}}
		{{- end -}}
	{{- else if eq .color "darkblue_ot" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $darkblue_ot)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $darkblue_ot)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $darkblue_ot)}}
		{{- end -}}
	{{- else if eq .color "darkblue_pb" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $darkblue_pb)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $darkblue_pb)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $darkblue_pb)}}
		{{- end -}}
	{{- else if eq .color "green_pb" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $green_pb)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $green_pb)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $green_pb)}}
		{{- end -}}
	{{- else if eq .color "white_pb" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white_pb)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white_pb)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white_pb)}}
		{{- end -}}
	{{- else if eq .color "white_gt" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white_gt)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white_gt)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white_gt)}}
		{{- end -}}
	{{- else if eq .color "white_in" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $white_in)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $white_in)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $white_in)}}
		{{- end -}}
	{{- else if eq .color "darkblue_au" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $darkblue_au)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $darkblue_au)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $darkblue_au)}}
		{{- end -}}
	{{- else if eq .color "lincoln_white" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $lincoln_white)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $lincoln_white)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $lincoln_white)}}
		{{- end -}}
	{{- else if eq .color "lincoln_black" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $lincoln_black)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $lincoln_black)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $lincoln_black)}}
		{{- end -}}
	{{- else if eq .color "lincoln_grey" -}}
		{{- if eq .font "sk" -}}
			{{partial .path (dict "moduleinfo" . "font" $sk "color" $lincoln_grey)}}
		{{- else if eq .font "th" -}}
			{{partial .path (dict "moduleinfo" . "font" $th "color" $lincoln_grey)}}
		{{- else -}}
			{{partial .path (dict "moduleinfo" . "font" $default "color" $lincoln_grey)}}
		{{- end -}}
	{{- else -}}
		<p style="text-align:center">{{.color}} is not a valid color for module with path: {{.path}}</p>
	{{- end -}}

	{{/* for if statement ending */}}
	{{- if ne .segmentif nil -}}
		{{- if (gt (len .segmentif) 0) -}}
			{{ "<%/InsertIf%>" | safeHTML }}
		{{- end -}}
	{{- end -}}

	{{/* for else if statement ending */}}
	{{- if ne .segmentelseif nil -}}
		{{- if (gt (len .segmentelseif) 0) -}}
			{{ "<%/InsertElse%>" | safeHTML }}
		{{- end -}}
	{{- end -}}

	{{/* for else ending */}}
	{{- if ne .segmentelse nil -}}
		{{- if (gt (len .segmentelse) 0) -}}
			{{ "<%/InsertElse%>" | safeHTML }}
		{{- end -}}
	{{- end -}}

{{/* module ending comment */}}
{{"<!--" | safeHTML}}{{ .path }} {{"ends-->" | safeHTML}}
{{- end -}}

{{/* places footer module to close HTML file */}}
{{ partial "email_modules/footer" . }}
