{{ partial "head.html" }}

<body bgcolor="#53575c">
  <div class="page-wrap">
    <div class="sidebar">
      <ul>
        <li><a href="/#au">AU</a></li>
        <li><a href="/#in">IN</a></li>
        <li><a href="/#ph">PH</a></li>
        <li><a href="/#th">TH</a></li>
        <li><a href="/#vn">VN</a></li>
        <li><a href="/#Modules">Modules</a></li>
        <li><a href="{{ .Site.BaseURL }}ascii/ascii.html">ASCII Symbols</a></li>
      </ul>
    </div>
      <table class="flat-table" border="1px">
        <thead class="sticky">
          <th><img src="{{ .Site.BaseURL }}img/gtb.png" width="75"></th>
					<th align=left>GTB Middleman Template Site</th>
        </thead>
        <tbody>
					<tr style="background-color:#53575c;">
						<td>
							<p align=center>Market</p>
						</td>
						<td>
							<p>HTML Files</p>
						</td>
					</tr>
          {{ range $key, $taxonomy := .Site.Taxonomies.markets }}
          <tr id="{{ $key }}">
            <td> {{ upper $key }} </td>
            <td>
              <ul>
                {{ range $taxonomy.Pages }}
                <li>
                  <a class="download" href="{{ .Permalink }}" download>&#11015;</a>
                  <a href="{{ .Permalink }}">{{ .LinkTitle}} </a>
                </li>
                {{ end }}
              </ul>
            </td>
          </tr>
          {{ end }}
          {{ range $key, $taxonomy := .Site.Taxonomies.moduletypes }}
          <tr id="Modules">
            <td> {{ humanize $key }} Modules </td>
            <td>
              <ul>
                {{ range $taxonomy.Pages }}
                <li>
                  <a class="download" href="{{ .Permalink }}" download>&#11015;</a>
                  <a href="{{ .Permalink }}">{{ .LinkTitle}} </a>
                </li>
                {{ end }}
              </ul>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
  </div>
</body>

</html>
